body{
background-image:url("../images/background1.jpg");
background-size: 1920px 950px;
background-size:100%;
background-position: center;
}
 	
.logo{
	margin: 0px 1px 0px 0px;
	width: 7%;
	height: 78px;
	background-color: white;
	border: 3px solid purple;
	
}

.login{
	background-color:white;
	border: 2px solid white;
	width: 5%;
	height:6%;
	padding:0px 0px 0px 0px;
	
	

}
.login1{
	background-color:white;
	padding:18px 2px 1px 1px;
	width: 7%;
	height:83px;
	font-size: 20px;
	font-weight: bold;
	margin: 0px 2px 0px 0px;

}
	
ul.menu{
	border: 3px solid purple;
	list-style-type:none;
	margin:0;
	padding:1px 1px 1px 1px;
	background-color:white;
	overflow:hidden;
	
}

li.menu{
	float:left;
	padding:1px 1px 1px 45px;
}


li a{
	display:block;
	color:black;
	text-align:center;
	padding:14px 13px;
	text-decoration:none;
	margin: 0px 0px 0px 0px;
}

li a:hover{
	background-color:brown;
	
}

.productData{
    background-color:white
}


#tbl{
	margin-top:15px;
    margin-bottom:10px;
    margin-right:10px;
    margin-right:10px;
	
}

ul.unorder{
      list-style:square;	
}	

	
a.footer{
    font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
}	

div.layout {
	margin: 8px 4px 4px 4px;

}

.bttn1{
	margin: 4px 4px 4px 4px;
	width: 10%;
	height: 50px;
	color:black;
	border-radius: 15px;
	background: #white;
	font-size: 16px;
	font-weight: bold;
	border: 3px solid purple;
}



.bttn2{
	float:right;
	margin: 4px 4px 4px 4px;
    background-color :transparent;
	border:transparent;
}
.bttn3{
	float :left;
	margin : 4px 4px 4px 4px;
	background-color :transparent;
	border:transparent;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  border:3px solid black;
}

.map1{
	float :right;
	margin :0px 45px 0px 0px;
	background-color :transparent;
	border:transparent;
	top:70px;
	right:10px;
	width:170px;
}


.namefont{
	
	font-family:cursive;
	color: yellow;
	text-align:center;
	font-size:30px;

}

.my{
	color:white;
	font-size:20px;
	font-style: italic;
	font-weight:bold;
	background-color: black;
	width:30%;
}

.sb{
	list-style-type:none;
	background-color :white;
	padding:0;
	margin:0;
	position:absolute;
	top:370px;
	left:10px;
	width:180px;
}

.article {
  float: left;
  padding: 25px;
  width: 75%;
  background-color: #f1f1f1;
  height: 200px;
}

.feetarticle {
  float: right;
  padding: 25px;
  width: 70%;
  background-color: #f1f1f1;
  height: 245px;
}

.clock{
	color:white;
}
.footer3
{
	position:absolute;
	width:60%;
	background-image: radial-gradient(farthest-corner at 40px 40px,#f35 0%, #43e 100%);
	color:white;
	padding:0px 100px;
	margin:70px 150px;
	border-radius:20px;
}

.address
{
	float:left;
}
.hot
{
	float:right;
}
.glow {
  font-size: 30px;
  font-family:cursive;
  color: yellow;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow:  0 0 30px black, 0 0 40px black, 0 0 50px black, 0 0 60px black, 0 0 70px black;
  }
  
  to {
    text-shadow:  0 0 40px purple, 0 0 50px purple, 0 0 60px purple, 0 0 70px purple, 0 0 80px purple;
  }
}

